<!doctype html>
<head>
  <title>Pdf Fix</title>
  <link rel="stylesheet" href="/static/css/dist.css" />
  <link rel="stylesheet" href="/static/css/styles.css" />
  <script src="/static/js/script.js"></script>
</head>
<html class="size-full">
  <body class="size-full flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center center-box">
      <h1 class="text-white font-bold text-7xl">Pdf Fix</h1>
      <form class="flex flex-col items-center justify-center" id="pdf-form">
        <label for="pdf-upload" class="hidden">Upload Pdf</label>
        <input
          type="file"
          id="pdf-upload"
          name="pdf"
          accept="application/pdf"
          class="blur-button font-bold py-2 px-4"
        />
        <p id="status" class="hidden font-bold text-3xl"></p>
        <input
          type="submit"
          class="blur-button font-bold py-2 px-4"
          value="Submit"
        />
      </form>
    </div>
  </body>
</html>
